<!-- Banner -->
<header class="banner text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">
          Take control of your life with Insury! We value your trust and your
          life!
        </h1>
      </div>
    </div>
  </div>
</header>
<!-- Main -->
<section class="presentation-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="presentation-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="presentation-icons-icon d-flex">
            <i class="fas fa-business-time m-auto text-primary"></i>
          </div>
          <h3>Business</h3>
          <p class="lead mb-0">
            Our team will provide you with the best service in the world!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="presentation-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="presentation-icons-icon d-flex">
            <i class="fas fa-money-bill m-auto text-primary"></i>
          </div>
          <h3>Finances</h3>
          <p class="lead mb-0">For much lower prices we can help you insure!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="presentation-icons-item mx-auto mb-0 mb-lg-3">
          <div class="presentation-icons-icon d-flex">
            <i class="fas fa-lock m-auto text-primary"></i>
          </div>
          <h3>Security</h3>
          <p class="lead mb-0">
            Thanks to our security experts we can guarantee nothing will go
            wrong!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="details">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white details-img details-img-1"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto details-text">
        <h2>Business</h2>
        <p class="lead mb-0">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut error
          veniam doloribus id molestias omnis magnam provident, molestiae ex!
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white details-img details-img-2"></div>
      <div class="col-lg-6 my-auto details-text">
        <h2>Finances</h2>
        <p class="lead mb-0">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi,
          repellat praesentium ducimus commodi neque optio laudantium. Debitis,
          animi fuga non in sint consectetur illum nostrum modi architecto
          corrupti, sapiente obcaecati?
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white details-img details-img-3"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto details-text">
        <h2>Security</h2>
        <p class="lead mb-0">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          debitis iure incidunt doloribus fugit doloremque ducimus sapiente
          nulla pariatur?
        </p>
      </div>
    </div>
  </div>
</section>
<section class="team text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Meet our team</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="../../../assets/julian-500x500.jpg"
            alt=""
          />
          <h5>Julian</h5>
          <p class="font-weight-light mb-0">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="../../../assets/download.jpeg"
            alt=""
          />
          <h5>George</h5>
          <p class="font-weight-light mb-0">
            Deleniti corporis at dolor perferendis, ipsam quae sunt repellendus.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="../../../assets/DBS_Dawn_8734.jpg"
            alt=""
          />
          <h5>Dawn</h5>
          <p class="font-weight-light mb-0">
            Cupiditate earum quos quaerat velit deleniti tenetur est porro
            voluptas quibusdam possimus nihil.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Contact us via email right now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="Enter your email..."
              />
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">
                Sign up!
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item"><a href="#">Terms of Use</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">
          &copy; Insury 2018. All Rights Reserved.
        </p>
        <p class="text-muted small mb-4 mb-lg-0">+555-123-4567</p>
      </div>
    </div>
  </div>
</footer>
